@import "./reset";
@import "./variables";
@import "./fonts";

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    font-family: $main-font;
    color: $main-color;
}