$main-font:             'Montserrat', sans-serif;
$pretitle_font:         'Open Sans', sans-serif;
$nav-font:              'Source Sans Pro', sans-serif;

$white-color:           #FFFFFF;
$main-color:            #2C4058;
$buttons-color:         #000000;
$hover-color-purple:    #7E5AFF;
$hover-color-blue:      #55B7FF;
$color-form:            #4B5562;

$desktop:               1360px;
$desktop-small:         1024px;
$tablet:                768px;
$mobile-l:              426px;
$mobile:                320px;
