.footer {
    height: 549px;
    background: url("../image/footer_background.png"), -o-linear-gradient(198.94deg, #7E5AFF -2.19%, #55B7FF 103.21%);
    background: url("../image/footer_background.png"), linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
    position: relative;

    @media screen and (max-width:$tablet){
        height: 500px;
    }

    &__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 203px;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;

        @media screen and (max-width:$mobile-l){
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: 40px;

        }

        &-logo-text {
            margin-top: 41px;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $white-color;
        }

        &-social {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 20px;
        }
    }
}