.gallery__title {
    text-align: center;
    margin: 100px 0 90px 0;

    @media screen and (max-width:$desktop-small){
        margin: 30px 0 50px 0;
    }
}

.gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 1170px;
    margin: 0 auto;
    position: relative; 

    @media screen and (max-width:$desktop-small){
        grid-template-columns: repeat(2, 1fr);
        width: 575px;
    }
    @media screen and (max-width:$mobile-l){
        display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 300px;
    }

        &__image-first {
            grid-column-start: 1;
            -ms-grid-column-span: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            -ms-grid-row-span: 2;
            grid-row-end: 3;

            @media screen and (max-width:$desktop-small){
                grid-template-columns: repeat(2, 1fr);
        
            }
            @media screen and (max-width:$mobile-l){
                width: 285px;
                height: 214px;
            }
            
        &-photo {
            @media screen and (max-width:$mobile-l){
                width: 285px;
                height: 214px;
                display: flex;
            }
        }

            &::before {
                content: "";
                background-image: url("../image/bi_zoom-in.png");
                width: 70px;
                height: 70px;
                display: block;
                background-repeat: no-repeat;
                position: absolute;
                top: 187px;
                left: 257px;
            
                @media screen and (max-width:$mobile-l){
                    top: 82px;
                    left: 115px;
                }
            }
        }

}