.header__nav {
    display: flex;
    gap: 70px;

    @media screen and (max-width:$desktop){
        gap: 50px;
    }
    @media screen and (max-width:$desktop-small){
        gap: 20px;
    }
    @media screen and (max-width:$tablet){
        display: none;
    }
}
.header__nav-item-label {
    font-family: $nav-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}